.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    right: 1.5vw;
    height: 30vh;
    width: 40vw;
}

.footer > .confirmation-container > h2 {
    margin: 0 0 3vh 0;
    font-family: 'Nixie One', cursive;
    font-size: 1.5rem;
    text-align: center;
    color: white;
}

.mailing-list > h2 {
    margin: 0 0 3vh 0;
    font-family: 'Nixie One', cursive;
    font-size: 1.5rem;
    text-align: center;
    color: white;
}

.mailing-list > input {
    background-color: rgba(0, 225, 255, 0.931);
    border: white solid 2px;
    box-shadow: rgba(40, 20, 94, 0.295) 3px 3px 1px;
    padding: 10pt;
    text-align: center;
    margin: 0 15pt 0 0;
    width: 20vw;
}

.mailing-list > button {
    background-color: rgb(140, 0, 255);
    border: none;
    border-radius: 15pt;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    padding: 10pt 15pt 10pt 15pt;
    box-shadow: black 1pt 1pt 1pt;
}

@media screen and (max-width: 800px) {
    .footer {
        right: 10vw;
        height: 45vh;
        width: 80vw;
    }
    
    .footer > .confirmation-container > h2 {
        margin: 0 0 3vh 0;
        font-family: 'Nixie One', cursive;
        font-size: 1.75rem;
        text-align: center;
        color: white;
    }

    .mailing-list {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .mailing-list > h2 {
        margin: 10vh 0 3vh 0;
        font-size: 1.5rem;
    }
    
    .mailing-list > input {
        text-align: center;
        margin: 0 0 3vh 0;
        width: 80vw;
    }
    

    .confirmation-container {
        display: flex;
        justify-content: center;
        align-items: center;;
    }
}

@media screen and (max-width: 400px) {
    .footer {
        right: 1.5vw;
        height: 50vh;
        width: auto;
        padding: 0 5vw 0 5vw;
    }
    
    .footer > .confirmation-container > h2 {
        margin: 0 0 3vh 0;
        font-family: 'Nixie One', cursive;
        font-size: 1.25rem;
        text-align: center;
        color: white;
    }

    .mailing-list {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .mailing-list > h2 {
        margin: 10vh 0 3vh 0;
        font-size: 1.05rem;
    }
    
    .mailing-list > input {
        text-align: center;
        margin: 0 0 3vh 0;
        width: 80vw;
    }
    

    .confirmation-container {
        display: flex;
        justify-content: center;
        align-items: center;;
    }
}