header {
    position: fixed;
    top: -7vh;
    left: calc(-23vh);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0 2vh 0;
    width: calc(30vw);
    background-color: rgb(0, 183, 255);
    box-shadow: rgba(0, 0, 0, 0.15) 1px 8px 5px,
    rgba(0, 0, 0, 0.1) 1px 3px 1px;
    transform: rotate(-45deg);
    z-index: 2;
}

header > .logo {
    height: 20vh;
    margin: 10vh calc(0vh) 2vh calc(3vh);
    transform: rotate(45deg);
    filter: drop-shadow(rgba(3, 58, 59, 0.4) 4px 6px 1px);
}

@media screen and (max-width: 800px) {
    header {
        top: -12vh;
        left: calc(-25vh);
        margin: -5.5vh;
        height: 40vh;
        width: 100vw;
    }

    header > .logo {
        position: fixed;
        top: 0;
        left: 0;
        margin: 20vh 0 0 calc(25vh);
        height: 16.5vh;
    }
}

@media screen and (max-width: 400px) {
    header {
        top: -12vh;
        left: calc(-25vh);
        margin: -5.5vh;
        height: 40vh;
        width: 100vw;
    }

    header > .logo {
        position: fixed;
        top: 0;
        left: 0;
        margin: 25vh 0 0 calc(25vh);
        height: 12vh;
    }
}