.footer {
  position: fixed;
  bottom: 0;
  right: 1.5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30vh;
  width: 40vw;
}

.footer > .confirmation-container > h2 {
  margin: 0 0 3vh 0;

  font-family: 'Nixie One', cursive;
  font-size: 1.5rem;
  text-align: center;

  color: white;
}

.mailing-list > h2 {
  margin: 0 0 3vh 0;

  font-family: 'Nixie One', cursive;
  font-size: 1.5rem;
  text-align: center;

  color: white;
}

.mailing-list > input {
  margin: 0 15pt 0 0;
  padding: 10pt;

  width: 20vw;

  text-align: center;

  background-color: rgba(0, 225, 255, 0.931);
  border: white solid 2px;
  box-shadow: rgba(40, 20, 94, 0.295) 3px 3px 1px;
}

.mailing-list > button {
  padding: 10pt 15pt 10pt 15pt;

  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  color: rgb(255, 255, 255);

  background-color: rgb(140, 0, 255);
  box-shadow: black 1pt 1pt 1pt;

  border: none;
  border-radius: 15pt;
}

@media screen and (max-width: 800px) {
  .footer {
    bottom: 2vh;
    left: 5vw;
    right: 5vw;
    height: 30vh;
    width: 90vw;
  }

  .footer > .confirmation-container > h2 {
    margin: 0 0 0 0;
    font-size: 3vh;
  }

  .mailing-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .mailing-list > h2 {
    margin: 0 3vw 3vh 3vw;
    font-size: 3vh;
  }

  .mailing-list > input {
    margin: 1vh 0 3vh 0;
    padding: 0.75vh 3vw 0.75vh 3vw;
    height: 4vh;
    width: 80vw;
    font-size: 2.5vh;
  }

  .mailing-list > button {
    padding: 1.25vh 10vw 1vh 10vw;
    font-size: 2.5vh;
    font-weight: 600;
    border-radius: 50pt;
  }
}

@media screen and (max-width: 450px) {
  .footer {
    bottom: 5vh;
    left: 2.5vw;
    right: 2.5vw;
    height: auto;
    width: 95vw;
  }
}